@{
    ViewBag.Title = "Home Page";
}

@Scripts.Render("~/Scripts/jquery-3.3.1.js")

<script>
    var webSocket;

    function sendSocketMsg() {
        var msg = $("#msg").val();
        webSocket.send(msg);
        showMsg(msg, "blue");
    }

    function openSocket() {
        if (webSocket != null && typeof (webSocket) != "undefined") {
            closeSocket();
        }
        webSocket = new WebSocket("ws://" + location.hostname + ":" + location.port + "/api/msg");
        webSocket.onopen = function () {
            showMsg("连接建立");
        }
        webSocket.onerror = function () {
            showMsg("发生异常");
        }

        webSocket.onmessage = function (event) {
            showMsg(event.data, "yellow");
        }

        webSocket.onclose = function () { showMsg("连接关闭"); }
    }

    function closeSocket() {
        if (webSocket != null && typeof (webSocket) != "undefined") {
            webSocket.close();
        }
    }

    function showMsg(msg, type) {
        if (type === null || typeof (type) === "undefined") type = "gray";
        $("#show").append("<span class='" + type + "'>" + msg + "</span><br>");
    }
</script>

<style>
    #show {
        border: 1px solid #ff6a00;
        padding: 10px;
    }

    .blue {
        border: 1px solid #0094ff;
    }

    .yellow {
        margin-left: 300px;
        border: 1px solid #b6ff00;
    }

    .gray {
        font-size: 10px;
        border: 1px solid #a9a9a9;
    }
</style>

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
 
        <button onclick="openSocket()">建立连接</button>
        <button onclick="closeSocket()">断开连接</button>
        <hr />
        <input type="text" id="msg" />
        <button onclick="sendSocketMsg()">发送信息</button>
        <hr />
        <div id="show"></div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>